
<h2>Welcome to Happy Home!</h2>
<div class="home">
  <h3>Our mission is to give every homeless animal a beautiful life by pairing them with a caring family.</h3>

    <div class="look">
      <h4>Take a look at our animals currently up for adoption:</h4>
      <p><a href="animals/cats">Cats</a></p>
      <p><a href="animals/dogs">Dogs</a></p>
    </div>


    <div class="look">
      <h5>Islay and Lottie were abandoned when they were just puppies. Now they are happy and loved with their forever families!</h5>
    </div>


    <div id="homeimages">
      <img src="/images/davidislay.png" alt="Islay spooning her new owner">
      <img src="/images/janinelottie.png"  alt="Lottie getting a hug">
    </div>



  <footer>Contact
  <p>Phone:  0131 669 5331</p>
  <p>Email: adoptions@happyhome.co.uk</p>
</footer>
